@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@300&display=swap");
html,
body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
q-input:hover {
    outline-color: rgb(69, 106, 230);
    border: 2px solid #ffffff;
}
.text-txtcolor {
    color: #122130;
}
.bg-txtcolor {
    background: #122130;
}
.text-badgeColor {
    color: #eaebef;
}
.bg-badgeColor {
    background: #eaebef;
}
.q-badge {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
p {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
* {
    transition: 0.2s ease-in-out;
}
::-webkit-scrollbar {
    display: none;
}
.app-name {
    padding: 5px;
    text-align: left;
    font-family: "Righteous", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #122437;
}

.userSection {
    background: #f5f9fc;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #e9edf0;
}
.text {
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    padding-left: 10px;
    font-size: 13px;
    color: #6b7783;
}
.q-item {
    border-radius: 10px;
}
.q-item:hover {
    background-color: #f5f9fc;
}
.q-item:active {
    background-color: #31a4fc31;
}
.item-rippel {
    border-radius: 10px;
}
.item-rippel:hover {
    background-color: #0091ff3a;
}
.item-rippel:active {
    background-color: #31a4fc31;
}
.MessageSection {
    flex: 3;
    background: #f2f6fc;
    border-radius: 10px;
    margin-right: 10px;
}
.user {
    display: flex;
    flex: 1;
    border-radius: 10px;
}
.user-info-1 {
    flex: 1;
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 2px #edeef7;
    text-align: center;
    padding: 10px;
}
.user-info-2 {
    flex: 2;
    background: #f9fbfc;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 2px #edeef7;
}
.user-info-3 {
    flex: 1;
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 2px #edeef7;
}
.q-message-text--sent {
    border-radius: 10px;
    background: #19233b !important ;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
.q-message-text-content--sent {
    color: #c1c7d9 !important;
}
.q-message-text--received {
    border-radius: 10px;
    background: white !important ;
}
.q-message-text-content--received {
    color: #70737b !important;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
.inputmessage {
    flex: 1;
    background: white;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    position: relative;
    top: -1%;
}
.fileUpload {
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 10px;
    border: solid 2px #d1d2d6;
    position: fixed;
    bottom: 15%;
    left: 40%;
}
